@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* fundo da tela */

html{
    width: 100vw; /* Estamos pegando a altura e largura da tela toda */
    height: 100vw;
    font-size: 62.5%;
    color: rgb(255, 255, 255);
    font-family: 'Lato', sans-serif;
    
    
}

body{
    background: linear-gradient(rgba(17, 17 , 17 , 0.8), rgba(20, 20, 20 , 1)), url(/img/img5.jpg);  /* Deixa a imagem de fundo com um degradê */
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat; /* Para a imagem não se repetir no fundo */
    background-color:#909599
}

/* Menu - Header - Navbar */

header {
    width: 100%; /* Vai pegar a largura inteira da tela */
    height: 7vh; /* Da Tela inteira 7 viewport será dedicado ao cabeçalho */
    background-color: rgba(22, 22, 22, 0.2);
}

.container{
    text-transform: uppercase; /* Joga todas as letras do cabeçalho para maiuscula */
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size:1.8rem; /* é o mesmo que 18px */
}

.logo{
    font-size: 1.8rem;
    letter-spacing: 0.4rem; /*Distanciamento entre as letras da logo */
    cursor: pointer;
}

.container .list-itens{
    display: flex; /* deixa os elementos um ao lado do outro */
    list-style: none; /* Retira o indicador de lista não ordenada */
    gap: 20px; /* Tera um distanciamento de 20px entre os elementos */
}

.container .list-itens a{
    text-decoration: none; /* Retira o sobrinhando dos links */
    color: white;
    padding: 1.5rem;
    transform: 2ms ease-in;
    position: relative;
}

.container .list-itens a:hover{
    color: rgb(251, 255, 0);
}

.container .list-itens a:before{
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width:0px;
    height: 1px;
    background-color: rgb(251, 255, 0);
    transition: all 1s ease;
}

.container .list-itens a:hover:before{
    width:100px;
}

/* Centro - Conteudo principal */

main{
    height:93vh; /* Foi colocado 93 viewport , pois ja foi utilizado 7 na tag header */
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

/* Textos conteudo principais */

.primary-text{
    width: 850px;
    font-size: 5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.second-text{
    margin-bottom:7rem;
    font-size: 2rem;
    color: #909599;
    text-transform: uppercase;
}

/* Botoes */

.btns{
    display: flex;
    justify-content:center;
    gap: 20px; /* Separa o elementos */
}

.btns button{
    width: 250px;
    height:60px;
    cursor: pointer;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    background-color:transparent;
    font-weight: bold;
    letter-spacing: 0.2rem; /* distancia entre as letras */
    border-radius: 20px;
    position: relative;
    transition: 1.5s;
}

.btns button:hover{
    color: rgb(251, 255, 0);
    border: none;
}

.btns button:before{
    content: ' ';
    bottom:0;
    left:0;
    position: absolute;
    width: 0;
    height: 60px;
    background-color: #909599 ;
    z-index: -1; /* Deixa o efeito na parte de trás do texto */
    transition: 1s;
    border-radius: 20px;
}

.btns button:hover:before{
    width: 100%;
    
}

.footer{
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-top: 850px;
    align-items: center;
    gap: 20px;
    font-family: 'Lato', sans-serif;
    
    
    
}

.footer img{
    width:40px;
    
}
